# Question 1

## Write a Python program to construct the following pattern, using a nested for loop.

In [4]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Question 2

## Write a Python program to construct the following pattern, using a nested loop number.

In [5]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Question 3

## Write a Python program that prints each item and its corresponding type from the following list.

In [6]:
datalist = [1452, 11.23, 1+2j, True, 'Mthokozisi', (0, -1), [5, 12],
{"class":'V', "section":'A'}]
for item in datalist:
   print ("Type of ",item, " is ", type(item))

Type of  1452  is  <class 'int'>
Type of  11.23  is  <class 'float'>
Type of  (1+2j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  Mthokozisi  is  <class 'str'>
Type of  (0, -1)  is  <class 'tuple'>
Type of  [5, 12]  is  <class 'list'>
Type of  {'class': 'V', 'section': 'A'}  is  <class 'dict'>